@model YazGelProje.Models.Teacher
@{
    Layout = "~/Views/Shared/TeacherSideBar.cshtml";
}
<script type="text/javascript" src="~/Content/jquery-3.1.1.min.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<div class="card-body pb-md-30">
    <div class="Vertical-form" style="align-items:center;">
        <form method="post" action="/Teacher/ConfirmPassword">
            <div style="background-color:darkred; text-align:center; align-items:center;">
                <h3 style="color: white;">@ViewBag.Mesaj</h3>
            </div>
            <h3>Lütfen mevcut parolanızı giriniz.</h3>
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">
                <input type="password" class="form-control ih-medium ip-gray radius-xs b-light px-15" placeholder="Mevcut Parola" name="password" id="myInput">
            </div>
            <div class="signUp-condition signIn-condition">
                <div class="checkbox-theme-default custom-checkbox">
                    <input class="checkbox" type="checkbox" id="check-1"
                           onclick="myFunction()">
                    <label for="check-1">
                        <span class="checkbox-text">Şifreyi Göster</span>
                    </label>
                </div>
            </div>
            <div class="layout-button mt-25">
                <button type="submit" class="btn btn-success btn-default btn-squared px-30" style="width:100%">Onayla</button>
            </div>
        </form>
    </div>
</div>

